@model asp_net_pizza.Models.Pizza

<h2>@Model.Nom</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pate.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        @{
            foreach (var ingredient in Model.Ingredients)
            {
                <dd>
                    @ingredient.Nom
                </dd>
            }
        }
    </dl>
</div>